
.maincontainer{
  text-align: center;
  text-justify: inter-word;
    line-height: 27px;
    padding-bottom: 20px;
    /* width: 845px; */
    padding-left: 15%;
    padding-right: 15%;
    font-size: 17px;
    font-family: sans-serif;
}

