.border{
    border: 1px solid #d4c9c933;
    height: 100px;
}

.buttonDisplay{
margin-left: 14%;
margin-right: 14%;
display: flex;
justify-content: space-between; 
margin-top: 50px;
margin-bottom: 50px;
}

.button {
    background-color: #164057; /* Green */
    border: none;
    color: white;
    padding: 35px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
  }

  @media (max-width: 900px) {
    .buttonDisplay{
        /* padding-bottom: 20px;
        margin-left: 14%;
        margin-right: 14%; */
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        /* margin-top: 50px;
        margin-bottom: 50px; */
        }
        .button {
            background-color: #164057; /* Green */
            border: none;
            color: white;
            padding: 35px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-bottom: 50px;
            margin-top: 20px;
            font-size: 20px;
          }
}