.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    width: 100%;
    list-style: none;
    margin-right: 30px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 850;
    text-align: center;
    text-transform: uppercase;
    color:  #164057;
    height: 70px;
    /* background-color: green; */
    /* overflow:hidden; */
  }
  .Servicetag{
     color: "#164057";
     text-decoration: none;
    
  }
  .InnerServicetag{
    color: "#164057";
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
   
 }
 .InnerServicetag:visited{
  color: "#164057";
  
 
}
.InnerServiceTagoption2{
  color: "#164057";
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.InnerServiceTagoption2:visited{
  color: "#164057";
  
 
}
 

  .maindropdownMenu{
    border: 1px solid #d4c9c933;
    padding-top: 35px;
    /* padding-bottom: 10px; */
    display: none;
    flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  min-width: 150px;
  text-align: left;
  /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2); */
  z-index: 999;
   
  }

  .subdropdownMenu{
    border: 1px solid #d4c9c933;
    padding-top: 0px;
    /* padding-bottom: 10px; */
    display: none;
    flex-direction: column;
  position: absolute;
  background-color: white;
  min-width: 250px;
  text-align: left;
  left: 100%;
  margin-top: -25px;
  /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2); */
  z-index: 998;
   
  }
  .InnerServiceTagoption2:hover .subdropdownMenu {
    display: flex;
    color: white;
    }
  
  .maindropdownMenu li{
    border: 1px solid #d4c9c933;
    background-color: #164057;
    padding-left: 5px;
  }
  .Servicetag:hover .maindropdownMenu {
    display: flex;
    color: white;
    }
 .MainContainer{
  
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  /* margin-right: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 5px solid #164057;
  padding-bottom: 5px;
  margin-right: 10px
 } 

 .logoContainer{
  display: flex;
  /* background-color: blue; */
  padding-top: 10px;
  padding-left: 30px;
  width: 40%
 } 

 .logoImage{
  width:250px ;
  height: 70px
 } 
 .mobileBar{
  display: none;
 }
 @media screen and (max-width: 1100px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    width: 100%;
    list-style: none;
    margin-right: 20px;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color:  #070763;
     /* background-color: #164057; */
  }
  .MainContainer{
  
    width: 100%;
    /* margin-left: 11px; */
    margin-right: 10px;
    /* margin-right: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #164057;
    padding-bottom: 5px;
    margin-right: 10px
   } 
   .logoImage{
    width:250px ;
    height: 50px
   } 
}
.hamburger{
  display: none;
 } 
 .mobileBar{
  display: none;
 }
@media screen and (max-width: 800px) {
  .hamburger{
    display: block;

    /* margin-right: 25px; */
    text-align: center;
    background-color: #164057;
    
    height: 50px;
    width: 50px;
   margin-top: 8px;
   border-radius: 30%;
   } 
   .navbar {
    display: none;
  }
  .MainContainer{
  
    width: 100%;
    margin-left: 0px;
    /* margin-right: 20px; */
    /* margin-right: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #164057;
    padding-bottom: 10px;
   } 
   .mobileBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* top: 75px; */
    left: 0px;
    position:fixed;
    width: 100%;
    height: auto;

    /* margin-right: 20px; */
    padding-left: 20px;
    padding-top: 15px;
    z-index: 1111;
    list-style: none;
    background: linear-gradient(to right, #164057 90%, #ffffffd8 10%);
    /* background-color:  */
    color: white;
font-size: 20px;
    font-weight: 700;
    overflow-y: hidden;

    inset: 0;
   } 
}

.mobileServicetag{
  padding-bottom: 12px;
  
}
.mobilemaindropdownMenu{
  margin-top: 5px;
  display: flex;
  color: #164057;
  background-color: white;
    /* padding-bottom: 10px; */
    /* display: none; */
    flex-direction: column;
  position:relative;
  text-align: left;
 width: 300px;
  /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2); */
  z-index: 999;
  border: 1px solid #d4c9c933;
}

.mobilemaindropdownInnerMenu{
  margin-top: 5px;
  display: flex;
  color:white ;
  padding-left: -10px;
  background-color: #164057;
    /* padding-bottom: 10px; */
    /* display: none; */
   
    flex-direction: column;
  position:relative;
  text-align: left;
 width: 297px;
  /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2); */
  z-index: 999;
  border: 1px solid #d4c9c933;
}
.InnerServicetagmobile{
  /* padding-left: -4px; */
  color: "#164057";
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #d4c9c933;
}

.innerlogoContainer{
  /* background-color: blue; */
  padding-top: 2px;
  padding-left: 0px;
  width: 20%;
  z-index: 111111111;
  padding-bottom: 15px;
}


