.MainContainer {
    /* padding-bottom: 40px;
    padding-top: 10px; */
    text-align: center;
  color: #164057;
}
.Cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
justify-content: center;
padding-left: 10px;

  
}



.imageDiv{
  position:relative;
  margin-bottom: 20px;
  padding-right:20px ;
}

.cardTextDiv{
  text-align: center;
  color: black;
  font-size: 25px;
  color: white;
  font-weight: 900;
  font-family: Poppines;
  padding-top: 4%;
  
  }

  .overlay {
    width:360px;
    background-color:#164057;
    top:30%;
    left: 180px;
    /* right: 50%; */
    transform: translate(-50%, -50%);
    position: absolute;
    /* top: 15%;
    bottom: 0;
    left: 17%;
    right: 0;
    
    /* width: 65%; */
    opacity: 0;
    height: 20%;
    transition: .5s ease;
  }



  .imageDiv:hover .overlay {
    opacity: 1;
  }

  @media (max-width: 800px) {
   
    .Cards{
      padding-left: 20px;
    }
}